%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}
    %title Andrew House - Sinatra
  %body
    %header
      %ul.nav.nav-tabs.nav-justified
        %li
          %a(href="/")
            Home
        %li
          %a(href='/times')
            Times Table
        %li
          %a(href='/letters')
            Letter Counter
        %li
          %a(href='/repos')
            Github Repositories
        %li
          %a(href='/news')
            Important News
    .container
      =yield
